#csr {
  background-color: #e6e6e6;
  padding: 6% 0;
}
#csr .header {
  padding: 3% 0;
}
#csr .header h1 {
  font-size: 3rem;
  color: #d1a840;
  text-align: center;
  padding: 3% 0;
  font-weight: 700;
}
#csr .header .intro h2 {
  color: #0c0f26;
  font-size: 2rem;
}
#csr .gallay-part .h2 {
  text-align: center;
  font-size: 2.1rem;
  padding: 3% 0;
  color: #d1a840;
}
#csr .gallay-part .card {
  margin-top: 5%;
}
#csr .gallay-part .card .zoomable-image {
  transition: transform 0.3s ease;
}
#csr .gallay-part .card .zoomable-image:hover {
  transform: scale(1.1);
}

#product-section {
  overflow-x: hidden;
  background-color: #e9e9e9;
}
#product-section h1 {
  font-size: 4rem;
  margin: 0 auto;
  padding-bottom: 6%;
  font-family: "Courgette", cursive;
}

.filter-box {
  display: flex;
  justify-content: space-between;
}

#product-section img {
  -o-object-fit: cover;
     object-fit: cover;
}

.trade .trade-details {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}
.trade .trade-details img {
  width: 100%;
  height: auto;
}

#aboutus {
  padding: 5% 0;
}
#aboutus .director .name-speach {
  text-align: left;
}
#aboutus .director .photo {
  margin-top: 5%;
}
#aboutus .director .photo .d-photo {
  -o-object-fit: cover;
     object-fit: cover;
}
#aboutus .whole-team {
  height: 100vh; /* Adjust the height as needed */
  position: relative;
}
#aboutus .whole-team .paralax-photo {
  width: 100%;
  height: 100%;
  background-image: url(../image/team.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#aboutus .whole-team .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  background-color: rgba(224, 206, 206, 0.2);
}
#aboutus .whole-team .overlay p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
}
#aboutus #cheif {
  background-color: #eee;
  padding-bottom: 3%;
}
#aboutus #cheif .cheif-h {
  padding-top: 2%;
  padding-bottom: 7%;
  text-align: center;
  font-size: 3.5rem;
}
#aboutus #cheif .box {
  font-family: "Raleway", sans-serif;
  position: relative;
}
#aboutus #cheif .box:before {
  content: "";
  background: rgba(209, 168, 64, 0.8);
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: rotate(-180deg);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.1s ease 0s;
}
#aboutus #cheif .box:hover:before {
  opacity: 1;
  transform: rotate(0);
  transition: all 1s ease 0s;
}
#aboutus #cheif .box img {
  width: 100%;
  height: auto;
}
#aboutus #cheif .box .box-content {
  text-align: center;
  width: 80%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(-180deg);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: opacity 0.1s ease 0s, transform 0.1s ease 0s;
}
#aboutus #cheif .box:hover .box-content {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotate(0);
  transition: all 0.1s ease 0s;
}
#aboutus #cheif .box .title {
  color: #111;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  margin: 0 0 5px;
  font-family: "Courgette", cursive;
}
#aboutus #cheif .box .post {
  color: #272727;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 10px;
  display: block;
}
#aboutus #cheif .box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
}
#aboutus #cheif .box .icon li {
  margin: 0 4px;
  display: inline-block;
}
#aboutus #cheif .box .icon li a {
  color: #111;
  font-size: 23px;
  text-align: center;
  line-height: 27px;
  height: 27px;
  width: 27px;
  border: 1px solid #111;
  display: block;
  transition: all 0.3s ease 0s;
}
#aboutus #cheif .box .icon li a:hover {
  color: #fff;
  background: #111;
  border-radius: 50%;
}
@media only screen and (max-width: 990px) {
  #aboutus #cheif .box {
    margin: 0 0 30px;
  }
}

#recrutment {
  position: relative;
}
#recrutment .work_process {
  position: relative;
  margin: 5% 0;
}
#recrutment .work_process::after {
  content: "";
  height: 100%;
  position: absolute;
  margin-right: 10px;
  top: 0;
  right: 50%;
  width: 2px;
  background-color: #e6e6e6;
}
#recrutment .work_process .work_box .work_detail_left {
  margin-left: 20%;
  margin-top: 20%;
  padding: 2%;
  text-align: center;
}
#recrutment .work_process .work_box .work_detail_left .work_number .one {
  text-align: center;
  margin-left: 0;
  color: #d1a840;
}
#recrutment .work_process .work_box .work_detail_left .first {
  height: 350px;
  width: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
#recrutment .work_process .work_box .work_right::before {
  position: absolute;
  content: "";
  height: 20px;
  left: 627px;
  width: 20px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #d1a840;
  z-index: 1;
}
#recrutment .work_process .work_box .work_right .one_second {
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 25%;
  margin-top: 4%;
  border-radius: 50%;
}

#timely_development {
  padding: 3% 0;
}
#timely_development .timely_development_header {
  font-size: 2rem;
  padding: 3% 0;
}

#personalized_approach {
  padding: 3% 0;
}
#personalized_approach .personalized_approach_header {
  font-size: 2rem;
  padding: 3% 0;
}

#terms_conditions .terms_condition_wrapper {
  padding: 0 5%;
}
#terms_conditions .terms_condition_wrapper .title {
  font-size: 2.5rem;
  color: #0B2A44;
  font-weight: 700;
  padding: 5% 0;
}
#terms_conditions .terms_condition_wrapper .top {
  font-size: 1.5rem;
}
#terms_conditions .terms_condition_wrapper .top .amco {
  color: #d1a840;
  font-weight: 700;
}
#terms_conditions .terms_condition_wrapper .bottom {
  font-size: 1.3rem;
}
#terms_conditions .terms_condition_wrapper .box {
  padding: 1% 0;
  color: #0c0f26;
  font-size: 1.2rem;
}
#terms_conditions .terms_condition_wrapper .box .heading {
  color: #d1a840;
  font-weight: 700;
}

#company_profile .company_profile_wrapper {
  padding: 5% 20%;
  font-size: 1rem;
}
#company_profile .company_profile_wrapper .title {
  font-size: 2.5rem;
  color: #d1a840;
  padding: 3% 0;
}

#clients {
  overflow-x: hidden;
  padding: 5% 0;
}
#clients .main .link_tag:hover {
  overflow: hidden;
}
#clients .main_content {
  padding: 5% 0;
}
#clients .main_content .home .nation .nation_img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 250px;
  max-height: 120px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
ol {
  list-style-type: none;
}

.title {
  text-align: center;
  color: #d1a840;
}

#navBar {
  position: absolute;
  width: 100%;
  z-index: 11;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-us {
  padding: 5% 0;
  height: 100%;
  text-align: center;
}
#about-us .about-us-text {
  padding: 10% 3%;
  font-size: 0.875rem;
  text-align: left;
  color: #0c0f26;
}
#about-us .about-us-text .trifecta_text {
  font-size: 1.8rem;
  color: #0c0f26;
}
#about-us .about-us-text .trifecta_text .trifecta {
  font-size: 1.8rem;
  font-weight: 700;
  color: #d1a840;
}
#about-us .about-us-text .about_us_btn {
  display: inline-block;
  margin-top: 5%;
  background-color: #d1a840;
  color: #e6e6e6;
  font-weight: 600;
  transition: all 0.3s;
}
#about-us .about-us-text .about_us_btn:hover {
  background-color: #0B2A44;
  color: #fff;
}
#about-us .about-us-photo {
  position: relative;
  margin-left: -3%;
  height: 100%;
}
#about-us .about-us-photo .front {
  position: absolute;
  top: 44%;
  left: 50%;
  border: 10px solid #d1a840;
  border-radius: 50%;
  z-index: 11;
}
#about-us .about-us-photo .front .front_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about-us .about-us-photo .middle {
  position: absolute;
  top: 3%;
  left: 30%;
  border: 10px solid #d1a840;
  border-radius: 50%;
}
#about-us .about-us-photo .middle .middle_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
#about-us .about-us-photo .behind {
  position: absolute;
  top: 44%;
  left: 10%;
  border: 10px solid #d1a840;
  border-radius: 50%;
}
#about-us .about-us-photo .behind .behind_img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#why-us {
  padding: 3%;
}
#why-us .why-us-wrapper .box-wrapper {
  position: relative;
  overflow: hidden;
}
#why-us .why-us-wrapper .box-wrapper .box {
  text-align: center;
  padding: 20% 0;
  border: 1px solid #eee;
  transition: transform 0.3s ease;
  border-radius: 10px;
  position: relative;
}
#why-us .why-us-wrapper .box-wrapper .box a {
  position: absolute;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  top: 35%;
  left: 18%;
  z-index: 11;
}
#why-us .why-us-wrapper .box-wrapper .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 100%;
  transition: 0.4s;
  border-radius: 10px;
  left: 0;
  background: #d1a840;
}
#why-us .why-us-wrapper .box-wrapper:hover .overlay {
  top: 0;
}

#achievementSection {
  background: url("../image/2.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: #e6e6e6;
  text-align: center;
  padding: 5% 0;
  width: 100%;
}
#achievementSection .achievement {
  padding: 10% 0;
}
#achievementSection .achievement p {
  font-size: 2rem;
}
#achievementSection .achievement i {
  font-size: 3rem;
  color: #d1a840;
}
#achievementSection .achievement .counter {
  font-size: 3rem;
}

#meet-our-boss {
  padding: 5% 0;
}
#meet-our-boss .temaHeading {
  text-align: center;
  color: #d1a840;
}
#meet-our-boss .meet-our-boss-heading {
  padding: 5% 0;
}
#meet-our-boss .meet-our-boss-heading .team_btn {
  display: inline-block;
  margin-top: 4%;
  background-color: #d1a840;
  transition: 0.4s;
}
#meet-our-boss .meet-our-boss-heading .team_btn:hover {
  background-color: #0B2A44;
  color: #fff;
}
#meet-our-boss .meet-our-boss-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 500px;
}

#gallary {
  text-align: center;
}
#gallary h2 {
  padding: 5% 0;
}
#gallary .zoomable-image {
  transition: transform 0.3s ease;
}
#gallary .zoomable-image:hover {
  transform: scale(1.2);
}

#contact {
  padding: 3% 0;
  text-align: left;
}
#contact .map {
  padding: 10% 0 3% 0;
}
#contact .form-wrapper {
  padding: 7% 0;
}

#service {
  background-color: #e6e6e6;
  padding: 5% 0;
}
#service .service-wrapper .left {
  padding: 1%;
}
#service .service-wrapper .left .box {
  padding: 3%;
  border: 1px solid rgba(0, 0, 0, 0.0509803922);
  margin-top: 5px;
  transition: transform 0.3s ease;
  box-shadow: 0px 0px 15px 0px rgba(208, 208, 208, 0.75);
}
#service .service-wrapper .left .box:hover {
  transform: translateY(-6%);
}
#service .service-wrapper .left .box .icon {
  font-size: 2rem;
  color: #d1a840;
}
#service .service-wrapper .left .box .p {
  font-size: 1.3rem;
  color: #0c0f26;
}
#service .service-wrapper .service_btn {
  display: inline-block;
  background: #d1a840;
  color: #0c0f26;
  margin-top: 2rem;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.4s;
  font-weight: 500;
}
#service .service-wrapper .service_btn:hover {
  background-color: #0B2A44;
  color: #e6e6e6;
}

#clients_view {
  padding: 5% 0;
}
#clients_view .see_more_btn {
  text-align: center;
  padding-top: 3%;
}
#clients_view .see_more_btn .see_more_btn {
  display: inline-block;
  background: #d1a840;
  color: #0c0f26;
  padding: 0.5rem 0.8rem;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.4s;
  font-weight: 500;
}
#clients_view .see_more_btn .see_more_btn:hover {
  background-color: #0B2A44;
  color: #e6e6e6;
}
#clients_view .logogrid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 75px;
  grid-gap: 4rem;
}
#clients_view .logogrid .logogrid__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
#clients_view .logogrid .logogrid__item .logogrid__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 120px;
  max-height: 60px;
  filter: grayscale(100%) contrast(25%);
  transition: filter 0.3s ease;
}
#clients_view .logogrid .logogrid__item .logogrid__img:hover {
  filter: grayscale(0) contrast(100%);
}

#footer {
  background-color: #0B2A44;
  color: #e6e6e6;
  padding: 5% 0;
}
#footer .social_link .social_links .social_icon {
  font-size: 1.3rem;
  transition: 0.04s;
}
#footer .social_link .social_links .social_icon:hover {
  color: #d1a840;
}
#footer .decoration {
  text-decoration: none;
}