@import "./variable.scss";
#clients {
  overflow-x: hidden;
  padding: 5% 0;
  .main {
    .link_tag {
      &:hover {
        overflow: hidden;
      }
    }
  }
  .main_content {
    padding: 5% 0;
    .saudi_arab {
      .nation {
        .nation_img {
          object-fit: cover;
          max-width: 250px;
          max-height: 120px;
        }
      }
    }
    .UAE {
      .nation {
        .nation_img {
          object-fit: cover;
          max-width: 250px;
          max-height: 120px;
        }
      }
    }
    .qatar {
      .nation {
        .nation_img {
          object-fit: cover;
          max-width: 250px;
          max-height: 120px;
        }
      }
    }
  }
}
