$main-color: #d1a840;
$text-color: #0c0f26;
$body-color: #e6e6e6;
$footer-color: #0b2a44;
$button-fonts: "Roboto", sans-serif;
$title_fonts: "Nunito", sans-serif;
$para_fonts: "Lato", sans-serif;
$opensun:'Open Sans', sans-serif;