$main-color: #c4b600;
$focused-color: #0c0f26;
$semifocused-color: rgba(12, 15, 38, 0.6);
$text-color: #0c0f26;
$semimain-color: rgba(196, 182, 0, 0.6);
$body-color: #e6e6e6;
$test-color: #0cc0df;
$footer-lite: rgba(12, 192, 223, 0.6);
$button-fonts: "Roboto", sans-serif;
$title_fonts: "Nunito", sans-serif;
$para_fonts: "Lato", sans-serif;
$opensun: "Open Sans", sans-serif;
