@import "./csr.scss";
@import "./variable.scss";
@import "./service.scss";
@import "./aboutus.scss";
@import "./recrutano.scss";
@import "./timelydev.scss";
@import "./personalized_approach.scss";
@import "./terms_condition.scss";
@import "./company_profile.scss";
@import "./clients.scss";
@import "./gallery.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li,
ol {
  list-style-type: none;
}
.title {
  text-align: center;
  color: $main-color;
  font-family: $title_fonts;
  font-size: 1.2rem;
}
#top_contact {
  background-color: $body-color;
}
#navBar {
  padding: 1% 0;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $focused-color;
  color: #fff;
  border-bottom: 1px solid #fff;
  .navbar-nav {
    .nav-link {
      position: relative;
      margin-right: 20px;
      transition: 0.4s ease;
      &:hover::after {
        content: "";
        position: absolute;
        bottom: -1px; /* Adjust the distance of the border from the text (you can change this value as needed) */
        left: 0;
        right: 0;
        border-bottom: 2px solid #fff;
      }
    }
  }

  .scrolled {
    background-color: $focused-color; /* Update this color as per your design */
  }
  .responsive_btn {
    &:focus {
      color: #fff;
    }
    .btn_bars {
      color: #fff;
    }
    .logo {
      font-weight: 500;
    }
  }
}

.display_icon {
  position: absolute;
  z-index: 11;
  color: #ffff;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  right: 0;
  /* Transition */
  transition: all 0.3s ease;
  .brochure_btn_part {
    background-color: $main-color;
    padding: 10px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    /* Added to hide overflowing content */
    .brochure_btn {
      display: none;
    }
  }

  .whatsapp_btn_part {
    background-color: $main-color;
    padding: 10px;
    border-bottom: 1px solid #fff;
    .whatsapp_btn {
      display: none;
    }
  }
  transition: all 0.3s ease;
  &:hover {
    .brochure_btn_part {
      width: 100%;
    }
    .brochure_btn {
      display: inline-block;
    }
    .whatsapp_btn_part {
      width: 100%;
    }
    .whatsapp_btn {
      display: inline-block;
    }
  }
}

// Banner section start

#banner {
  color: #ffff;
  .banner-wrapper {
    .carousel-indicators {
      li {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin: 0 6px;
        background-color: #ffff;
      }
      .active {
        background-color: $main-color;
      }
    }

    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
        position: relative;
        .carousel-caption {
          width: 100%;
          position: absolute;
          bottom: 60%;
          left: 50%;
          transform: translate(-50%, 60%);
          .banner_main_text {
            position: relative;
            font-family: $para_fonts;
            font-size: 3rem;
            line-height: 1.7;
            font-weight: 700;
            text-align: left;
            left: 20%;
            .company_name {
              color: $main-color;
            }
          }
          h3 {
            font-size: 30px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}
//Banner section end
#about-us {
  background: url("../image/Untitled\ design\ \(5\).png");
  background-attachment: fixed;
  padding: 5% 0;
  height: 100%;
  text-align: center;
  .about-us-text {
    padding: 10% 3%;
    font-size: 1rem;
    text-align: left;
    color: $focused-color;
    .trifecta_text {
      font-size: 1.8rem;
      color: $focused-color;
      .trifecta {
        font-size: 1.8rem;
        font-weight: 700;
        color: $main-color;
      }
    }
    .about_us_btn {
      display: inline-block;
      margin-top: 3%;
      background-color: $main-color;
      color: $body-color;
      font-weight: 600;
      transition: all 0.3s;
      &:hover {
        background-color: $focused-color;
        color: #fff;
      }
    }
  }
  .about-us-photo {
    position: relative;
    margin-left: -3%;
    height: 100%;
    .front {
      position: absolute;
      top: 44%;
      left: 50%;
      border: 10px solid $main-color;
      border-radius: 50%;
      z-index: 11;
      .front_img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .middle {
      position: absolute;
      top: 8%;
      left: 30%;
      border: 10px solid $main-color;
      border-radius: 50%;
      .middle_img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .behind {
      position: absolute;
      top: 44%;
      left: 10%;
      border: 10px solid $main-color;
      border-radius: 50%;
      .behind_img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
#why-us {
  padding-bottom: 3%;
  .why-us-wrapper {
    .box-wrapper {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 22px -7px rgba(11, 42, 68, 1);
      -moz-box-shadow: 0px 0px 22px -7px rgba(11, 42, 68, 1);
      box-shadow: 0px 0px 22px -7px rgba(11, 42, 68, 1);
      .box {
        text-align: center;
        padding: 30% 0;
        border: 1px solid #eee;
        transition: transform 0.3s ease;
        border-radius: 10px;
        position: relative;
        border-bottom: 10px solid $main-color;

        .icon {
          position: absolute;
          font-size: 3rem;
          font-weight: 600;
          top: 15%;
          left: 44%;
          z-index: 11;
        }
        a {
          position: absolute;
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 600;
          top: 40%;
          left: 18%;
          z-index: 11;
        }
      }
      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 100%;
        transition: 0.4s;
        border-radius: 10px;
        left: 0;
        background: $semimain-color;
      }
      &:hover {
        color: #ffff;
      }
      &:hover .overlay {
        top: 0;
      }
    }
  }
}
// service section start
#service {
  background-color: $body-color;
  padding: 5% 0;
  .service-wrapper {
    .left {
      padding: 1%;
      .box {
        padding: 3%;
        border: 1px solid #0000000d;
        margin-top: 5px;
        transition: transform 0.3s ease;
        -webkit-box-shadow: 0px 0px 15px 0px rgba(208, 208, 208, 0.75);
        -moz-box-shadow: 0px 0px 15px 0px rgba(208, 208, 208, 0.75);
        box-shadow: 0px 0px 15px 0px rgba(208, 208, 208, 0.75);
        transition: 0.4s;
        &:hover {
          background-color: $focused-color;
        }
        &:hover p {
          color: #ffff;
        }
        .icon {
          font-size: 2rem;
          color: $main-color;
        }
        .p {
          font-size: 1.3rem;
          color: $focused-color;
        }
      }
    }
    .right {
      .right_img {
        width: 650px;
        height: 700px;
      }
    }
    .service_btn {
      display: inline-block;
      background: $main-color;
      color: $focused-color;
      margin-top: 2rem;
      padding: 0.5rem 0.8rem;
      text-decoration: none;
      font-size: 1rem;
      transition: 0.4s;
      font-weight: 500;
      &:hover {
        background-color: $focused-color;
        color: $body-color;
      }
    }
  }
}

//service section end
#achievementSection {
  background: $focused-color;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding: 5% 0;
  width: 100%;
  .achievement {
    padding: 10% 0;
    p {
      font-size: 2rem;
    }
    i {
      font-size: 3rem;
      color: #fff;
    }
    .counter {
      font-size: 3rem;
    }
  }
}
// employee section get in touch start
#employer_employee {
  background-color: $body-color;
  color: $focused-color;
  padding: 5% 0;

  .employer_employee_wrapper {
    padding: 0 7%;
    .employer_employee_title {
      text-align: center;
      padding: 3% 0;
    }
    .center_btn {
      display: flex;
      justify-content: center;
      .nav-pills {
        .nav-link {
          color: #ffffff;
          &.active,
          &.show {
            background-color: $main-color;
          }
        }
      }
    }
    .employer_text {
      padding: 0 5%;
    }
    .employer_information {
      .employer_btn {
        background-color: $main-color;
        transform: 0.4s;
        &:hover {
          background-color: $focused-color;
          color: #fff;
        }
      }
      padding: 3% 5%;
    }
    .employee_text {
      padding: 0 5%;
    }
    .employee_information {
      padding: 3% 5%;
      .employee_btn {
        background-color: $main-color;
        transform: 0.4s;
        &:hover {
          background-color: $focused-color;
          color: #fff;
        }
      }
    }
  }
}
// employee section get in touch end
#meet-our-boss {
  padding: 5% 0 3% 0;
  .temaHeading {
    padding: 5% 0;
    text-align: center;
    color: $main-color;
  }

  .meet-our-boss-heading {
    padding: 5% 0;
    .meet-our-boss-heading_title {
      text-align: left;
      color: $focused-color;
    }
    .meet-our-boss-heading_text {
      margin-top: 7%;
      padding-right: 15%;
    }
    .team_btn {
      display: inline-block;
      margin-top: 4%;
      background-color: $main-color;
      transition: 0.4s;
      &:hover {
        background-color: $focused-color;
        color: #fff;
      }
    }
  }
  .meet-our-boss-photo {
    padding: 5% 0;
    img {
      object-fit: cover;
      width: 100%;
      height: 500px;
    }
  }
}
// Gally start
//testimonial start
#testimonials {
  padding: 3% 0;
  background-color: rgb(251, 250, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  .testimonials_title {
    text-align: center;
    font-weight: 700;
    padding: 3% 0 0 0;
  }
  .testimonials-container {
    background-color: $focused-color;
    border-radius: 15px;
    color: #ffffff;
    font-family: "Montserrat";
    margin: 20px auto;
    max-width: 768px;
    padding: 50px 80px;
    position: relative;

    .fa-quote {
      color: rgba(255, 255, 255, 0.3);
      font-size: 28px;
      position: absolute;
      top: 70px;
    }

    .fa-quote-right {
      left: 40px;
    }

    .fa-quote-left {
      right: 40px;
    }

    .testimonial {
      line-height: 28px;
      text-align: justify;
    }

    .centered-items {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo {
      border-radius: 50%;
      height: 75px;
      width: 75px;
      object-fit: cover;
    }

    .user-details {
      margin-left: 10px;
    }

    .username {
      margin: 0;
    }

    .role {
      font-weight: normal;
      margin: 2px 0;
    }

    .progress-bar {
      background-color: #fff;
      height: 4px;
      width: 100%;
      animation: grow 10s linear infinite;
      transform-origin: left;
    }

    @keyframes grow {
      0% {
        transform: scaleX(0);
      }
    }

    @media (max-width: 768px) {
      .testimonials-container {
        padding: 20px 30px;
      }

      .fa-quote {
        display: none;
      }
    }
  }
}
//testimonial end

#contact {
  .contact_title {
    text-align: center;
    color: $focused-color;
    padding: 0 0 3% 0;
  }
  padding: 3% 0;
  text-align: left;
  .map {
    padding: 10% 0 3% 0;
  }
  .form-wrapper {
    padding: 7% 0;
    .contact_btn {
      background-color: $main-color;
      transition: 0.4s;
      &:hover {
        background-color: $focused-color;
        color: #fff;
      }
    }
  }
}

// Client side
#clients_view {
  .clients_view_wrapper {
    padding: 5% 0;
    .clients_view_title {
      text-align: center;
      font-weight: 700;
      color: $focused-color;
      padding: 0 0 5% 0;
    }
    .nation {
      .nation_img {
        object-fit: cover;
        max-width: 250px;
        max-height: 120px;
      }
    }
    .see_more_btn {
      text-align: center;
      padding-top: 3%;
      .see_more_btn {
        display: inline-block;
        background: $main-color;
        color: $focused-color;
        padding: 0.5rem 0.8rem;
        text-decoration: none;
        font-size: 1rem;
        transition: 0.4s;
        font-weight: 500;
        &:hover {
          background-color: $focused-color;
          color: $body-color;
        }
      }
    }
  }
}

// clients end

// Footer section start

#footer {
  background-color: $focused-color;
  color: #fff;
  padding: 5% 0;
  .social_link {
    .social_links {
      .social_icon {
        font-size: 1.3rem;
        transition: 0.04s;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
  .decoration {
    text-decoration: none;
  }
}

// Footer section end
